.header {
  background: whitesmoke;
  height: 15rem;
  display: flex;
}

.headerRow {
  padding: 0 20rem 5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerName {
  color: #663399;
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 1440px) {
  .headerRow {
    padding: 0 5rem 5rem;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    height: 10rem;
  }

  .headerRow {
    padding: 0 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .headerRow {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
